@model IEnumerable<ShoppingCartMVC.Models.tblRefund>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RefundRequestDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RefundReason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RefundStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RefundRequestDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RefundReason)
        </td>
        <td>
            <img src="~/Uploads/@item.Image" style="width:150px; height:100px;" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RefundStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.RefundId }) |
            @Html.ActionLink("Details", "Details", new { id = item.RefundId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.RefundId })
        </td>
    </tr>
}

</table>
