@model ShoppingCartMVC.Models.RateAndTipVM

<head>
    <title>Rate & Tip</title>
    <style>
        .card {
            border: 3px solid #04d47a;
        }

        .form-group {
            text-align: center;
        }

        .checkbox-grid {
            display: grid;
            grid-template-columns: repeat(3, 2fr);
            gap: 10px;
        }
    </style>
</head>

<br />

<h2 class="card-title" style="text-align:center"><u> Rate & Tip </u></h2>
<div class="col-sm-6 mx-auto">
    <div class="card">
        <div class="card-body">
            @using (Html.BeginForm("RateAndTip", "Account", FormMethod.Post))
            {
                <div class="form-horizontal">
                    <hr />
                    <div class="col-lg-6 mx-auto">
                        <img src="~/Uploads/@Model.DriverImage" style="height:250px;width:100%" />
                    </div>

                    <div class="col-lg-6">
                        <h3>@Model.DriverName</h3>
                        <p>@Model.DriverEmail</p>

                        <p>Current Rating: <h2><strong>@Model.DriverRating</strong></h2></p>
                    </div>

                    <div class="form-group">
                        <span>Your Rating:</span>
                        <div class="radio-group">
                            @for (int i = 1; i <= 5; i++)
                            {
                                <label>
                                    @Html.RadioButtonFor(model => model.DriverRating, i) &ensp;
                                    @i
                                    &ensp; &ensp;
                                </label>

                            }
                        </div>
                    </div>

                    <div class="form-group">
                        <span>Your Tip:</span>
                        <div class="radio-group">
                            @Html.RadioButtonFor(model => model.IsCustomTip, true) Custom Amount
                            <br />
                            @Html.RadioButtonFor(model => model.IsCustomTip, false) No Tip
                            @Html.TextBoxFor(model => model.CustomTip, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group" style="display: flex;">
                        <input type="submit" value="Proceed" class="btn btn-success" />
                        &ensp;
                        <a href="@Url.Action("Index", "Home")" class="btn btn-dark">Home</a>
                    </div>
                </div>
                <p>@TempData["msg"]</p>
            }
        </div>
    </div>
</div>

<br />
<br />
<br />



