@model RegistrationAndLogin.Models.ResetPasswordModel
<style>
    h1 {
        text-align: center;
        color: black !important;
    }

    hr.new1 {
        border: 10px solid black;
        border-radius: 5px;
    }

    .card {
        border: 3px solid grey;
    }

    .card-body {
        text-align: center;
    }

    .form-group {
        display: flex !important;
        flex-direction: column !important;
        font-size: 23px;
    }

    .textReset {
        align-self: flex-start !important;
    }
    
    .text-danger {
        color: orangered !important;
        font-size: 20px;
    }

    .custom-orange-button {
        background-color: orange; /* Set your desired shade of orange */
        color: white; /* Set the text color to contrast with the background */
        font-size: 20px; /* Set the font size to your preference */
        font-weight: bold; /* Make the text bold if desired */
        border: none;
    }

        .custom-orange-button:hover {
            background-color: darkorange;
            color: white;
        }
</style>
<br />
<div class="col-sm-7 mx-auto">
    <div class="card">
        <div class="card-body">
            <h2>Reset Password</h2>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />
            <br />
            <div class="text-danger">
                @ViewBag.Message
            </div>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <br />
            <div class="form-group">
                <span class="textReset">New Password:</span>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="form-group">
                <span class="textReset">Confirm Password:</span>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.HiddenFor(a => a.ResetCode)
            </div>

            <div class="form-group">              
                    <input type="submit" value="Confirm" class="btn custom-orange-button py-3 px-5" />               
            </div>
            <h2>Then</h2>

        </div>
            }

            <div class="form-group">
                <div  class="btn custom-orange-button py-3 px-5">@Html.ActionLink("Log In", "Login", null, new { style = "color: white;" }) </div>  
            </div>
        </div>

    </div>

</div>
<br />
<br />