@model ShoppingCartMVC.Models.tblSupplier

<head>
    <title>Edit Supplier</title>
    <style>
        .card {
            border: 2px solid #00ff90;
        }

        .form-group {
            text-align: center;
        }

        .checkbox-grid {
            display: grid;
            grid-template-columns: repeat(3, 2fr); /* Adjust the number of columns as needed */
            gap: 10px; /* Adjust the gap between checkboxes */
        }
    </style>
</head>
<br />

<h2 class="card-title" style="text-align:center"><u> Update Supplier </u></h2>
<div class="col-sm-7 mx-auto">
    <div class="card">
        <div class="card-body">
            @using (Html.BeginForm())
            {

                <div class="form-horizontal">
                   
                   
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.SupplierId)

                    <div class="form-group">
                        Supplier Name:
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.SupplName, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>

                    <div class="form-group">
                       Supplier Type:
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.SupplType, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>

                    <div class="form-group">
                        Supplier Contact Person:
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ContactPerson, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>

                    <div class="form-group">
                        Supplier Contact Person Position:
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ContactPersonPos, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>

                    <div class="form-group">
                       Contact Number:
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ContactNum, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>

                    <div class="form-group">
                        Email:
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>

                    <div class="form-group">
                       Telephone:
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Tel, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>

                    <div class="form-group">
                        Company Registration Number:
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CompanyRegNum, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>

                    <div class="form-group">
                       Physical Address:
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.PhysicalAddress, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Active, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Active, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>



                    <div class="checkbox-grid">
                        <h4>Ingredients:</h4>
                        @foreach (var ing in ViewBag.AllIngredients)
                        {

                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="selectedIngrs[]" value="@ing.Ing_ID" @(ViewBag.SelectedIngredientIds.Contains(ing.Ing_ID) ? "checked" : "") />
                                    @ing.Ing_Name
                                </label>
                                <br />
                            </div>
                        }
                    </div>
                    <br />

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Update" class="btn btn-success" />
                        </div>
                    </div>
                </div>

                <p>@TempData["msg"]</p>
            }

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>

        </div>
    </div>
</div>

<br />
<br />
<br />
