@model ShoppingCartMVC.Models.tblProduct
@{
    ViewBag.Title = "Create";
}
<head>
    <title>Add New Product</title>
    <style>
        .card {
            border: 2px solid grey;
        }

        .form-group {
            text-align: center;
        }

        .checkbox-grid {
            display: grid;
            grid-template-columns: repeat(3, 2fr);
            gap: 10px;
        }

        .custom-orange-button {
            background-color: orange; /* Set your desired shade of orange */
            color: white; /* Set the text color to contrast with the background */
            font-size: 20px; /* Set the font size to your preference */
            font-weight: bold; /* Make the text bold if desired */
            border: none;
        }

            .custom-orange-button:hover {
                background-color: darkorange;
                color: white;
            }

        input[type="checkbox"] {
            width: 20px; /* Adjust the width to make the checkbox wider */
            height: 20px; /* Adjust the height to make the checkbox taller */
        }
    </style>
</head>

<br />
<h1 class="card-title" style="text-align:center"><u> Add Product </u></h1>
<br />

<div class="col-sm-6 mx-auto">
    <div class="card">
        <div class="card-body">
            <h3 style="color:red;">@TempData["msg"]</h3>
            <br />
            @using (Html.BeginForm("Create", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

                <form class="bg-white p-5 contact-form">

                    <div class="form-group">
                        <span>Name:</span>
                        @Html.TextBoxFor(m => m.P_Name, new { @class = "form-control" })
                    </div>
                    <br />
                    <div class="form-group">
                        <span>Categories:</span>
                        @Html.DropDownListFor(m => m.CatId, ViewBag.CatList as SelectList, "-- Select Category ---")
                    </div>
                    <br />
                    <div class="form-group">
                        <span>Description:</span>
                        @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                    </div>
                    <br />
                    <div class="form-group">
                        <span>Unit Price:</span>
                        @Html.TextBoxFor(m => m.Unit, new { @class = "form-control" })
                    </div>
                    <br />
                    <div class="form-group">
                        <span>Select Image:</span>
                        <input type="file" name="Image" />
                    </div>
                    <br />
                    <div class="checkbox-grid">
                        <h4>Ingredients:</h4>
                        <br />
                        <br />
                        @foreach (var ing in ViewBag.IngrNames)
                        {
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="selectedIngrs[]" value="@ing.IngName" />
                                    @ing.IngName
                                </label>
                            </div>

                        }


                    </div>
                    <br />
                    <br />
                    <div class="form-group">
                        <input type="submit" value="Add" class="btn custom-orange-button  py-3 px-5">
                    </div>
                </form>


            }

        </div>

    </div>

</div>
<br />
<br />
