@model ShoppingCartMVC.Models.tblProduct
<head>
    <title>Update A Product</title>
    <style>
        .card {
            border: 2px solid green;
        }

        .form-group {
            text-align: center;
        }
    </style>
</head>
<br />

<h2 class="card-title" style="text-align:center"><u> Update Product </u></h2>
<div class="col-sm-6 mx-auto">
    <div class="card">
        <div class="card-body">
            @using (Html.BeginForm("Edit", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

                <div class="form-horizontal">

                    <hr />

                    @Html.HiddenFor(model => model.ProID)

                    <div class="form-group">
                        <span>Product Name: </span>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.P_Name, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>

                    <div class="form-group">
                        <span>Description:</span>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>

                    <div class="form-group">
                        <span>Unit Price:</span>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Unit, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>

                    <div class="form-group">
                        <span>Select Image:</span>
                        <div class="col-md-10">

                            <img src="~/Uploads/@Model.Image" style="width:150px; height:100px;" class="img-responsive" />
                            <input type="file" name="Image" />

                        </div>
                    </div>

                    <div class="form-group">
                        <span>Select Category: </span>
                        <div class="col-md-10">
                            @Html.DropDownList("CatId", ViewBag.CatList as SelectList, htmlAttributes: new { @class = "form-control" })

                        </div>
                    </div>

                    <div class="form-group">
                       <span>Select Supplier:</span>
                        <div class="col-md-10">
                            @Html.DropDownList("CatId", ViewBag.SuppList as SelectList, htmlAttributes: new { @class = "form-control" })

                        </div>
                    </div>

                    <div class="form-group">
                        <span>Quantity:</span>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Qty, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Update" class="btn btn-success" />
                        </div>
                    </div>
                    <p> <a href="@Url.Action("Index", "Products")" class="btn btn-dark">Back</a></p>

                </div>

                <p>@TempData["msg"]</p>
            }

        </div>
    </div>
</div>

<br />
<br />
<br />