@model ShoppingCartMVC.Models.tblProduct
<head>
    <title>Update A Product</title>
    <style>
        .card {
            border: 2px solid grey;
        }

        .form-group {
            text-align: center;
        }

        .checkbox-grid {
            display: grid;
            grid-template-columns: repeat(3, 2fr); /* Adjust the number of columns as needed */
            gap: 10px; /* Adjust the gap between checkboxes */
        }
        .custom-orange-button {
            background-color: orange; /* Set your desired shade of orange */
            color: white; /* Set the text color to contrast with the background */
            font-size: 20px; /* Set the font size to your preference */
            font-weight: bold; /* Make the text bold if desired */
            border: none;
        }

            .custom-orange-button:hover {
                background-color: darkorange;
                color: white;
            }

        .btn-dark {
            font-size: 20px;
            font-weight: bold;
        }
    </style>
</head>
<br />

<h2 class="card-title" style="text-align:center"><u> Update Product </u></h2>
<br />
<h3 style="color:red;">@TempData["msg"]</h3>
<br />
<div class="col-sm-6 mx-auto">
    <div class="card">
        <div class="card-body">
            @using (Html.BeginForm("Edit", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

                <div class="form-horizontal">

                    <hr />

                    @Html.HiddenFor(model => model.ProID)

                    <div class="form-group">
                        <span>Product Name: </span>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.P_Name, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>

                    <div class="form-group">
                        <span>Description:</span>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>

                    <div class="form-group">
                        <span>Unit Price:</span>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Unit, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>

                    <div class="form-group">
                        <span>Select Image:</span>
                        <div class="col-md-10">

                            <img src="~/Uploads/@Model.Image" style="width:150px; height:100px;" class="img-responsive" />
                            <input type="file" name="Image" />

                        </div>
                    </div>

                    <div class="form-group">
                        <span>Select Category: </span>
                        <div class="col-md-10">
                            @Html.DropDownList("CatId", ViewBag.CatList as SelectList, htmlAttributes: new { @class = "form-control" })

                        </div>
                    </div>

                    <div class="checkbox-grid">
                        <h4>Ingredients:</h4>
                        @foreach (var ing in ViewBag.AllIngredients)
                        {
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="selectedIngrs[]" value="@ing.Ing_ID " @(ViewBag.SelectedIngredientIds.Contains(ing.Ing_ID) ? "checked" : "") />
                                    @ing.Ing_Name
                                </label>
                            </div>
                        }
                    </div>


                    <div class="form-group">

                        <input type="submit" value="Update" class="btn custom-orange-button  py-3 px-5" style="display: inline-block;" />
                        <p style="display: inline; margin-left: 10px;">
                            <a href="@Url.Action("Index", "Products")" class="btn btn-dark py-3 px-5">Back</a>
                        </p>
                    </div>
                    

                </div>


            }

        </div>
    </div>
</div>

<br />
<br />
<br />