@model ShoppingCartMVC.Models.tblExtras
<head>
    <title>Update An Extra</title>
    <style>
        .card {
            border: 2px solid green;
        }

        .form-group {
            text-align: center;
        }

        .custom-orange-button {
            background-color: orange; /* Set your desired shade of orange */
            color: white; /* Set the text color to contrast with the background */
            font-size: 20px; /* Set the font size to your preference */
            font-weight: bold; /* Make the text bold if desired */
            border: none;
        }

            .custom-orange-button:hover {
                background-color: darkorange;
                color: white;
            }

        .btn-dark {
            font-size: 20px;
            font-weight: bold;
        }
    </style>
</head>

<br />
<h2 class="card-title" style="text-align:center"><u> Update Extras </u></h2>
<br />
<h3 style="color:red;">@TempData["msg"]</h3>
<br />
<div class="col-sm-6 mx-auto">
    <div class="card">
        <div class="card-body">

            @using (Html.BeginForm())
            {

                <div class="form-horizontal">
                    @Html.HiddenFor(model => model.ExtraID)

                    <div class="form-group">
                        <span>Name:</span>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.exName, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>

                    <div class="form-group">
                        <span>Unit Price:</span>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.exCost, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>

                    <div class="form-group">
                        <span>Select Category: </span>
                        <div class="col-md-10">
                            @Html.DropDownList("CatId", ViewBag.CatList as SelectList, htmlAttributes: new { @class = "form-control" })

                        </div>
                    </div>

                    <div class="form-group">

                        <input type="submit" value="Update" class="btn custom-orange-button  py-3 px-5" style="display: inline-block;" />
                        <p style="display: inline; margin-left: 10px;">
                             <a href="@Url.Action("ExIndex","Products")" class="btn btn-dark  py-3 px-5">Back</a>
                        </p>
                    </div>
                </div>

                      

            }
        </div>
    </div>
</div>

<br />
<br />
<br />
<br />