@model IEnumerable<ShoppingCartMVC.Models.tblIngredients>
<head>
    <title>All Ingredients</title>
    <style>
        .btn-info {
            font-size: 20px;
            font-weight: bold;
        }

        .btn-danger {
            font-size: 20px;
            font-weight: bold;
        }
        h2{
            text-align:center;
        }
    </style>
</head>
<script src="~/js/jquery.min.js"></script>

<script>
$(document).ready(function(){
    $("#searchBox").on("keyup", function () {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

<br />

    <h2>All Ingredients</h2>
    <div class="form-group">
        <input type="text" class="form-control col-lg-4 ml-auto" placeholder="Search Here" id="searchBox" />
    </div>
    <table class="table">
        <thead>
            <tr>
                @*<th>ID</th>*@
                <th>Name</th>
                <th>Image</th>
                <th>Standard Qty for 1</th>
                <th>Stock Qty</th>
                <th>Stock Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="myTable">
            @foreach (var item in Model)
            {
                <tr>

                    <td>@item.Ing_Name</td>
                    <td><img src="~/Uploads/@item.Ing_Image" style="width:150px; height:100px;" /></td>
                    <td>@((int)Math.Round(item.Ing_StandardQty))  @item.StdQty_UnitMeaseurement</td>
                    <td>@item.Ing_StockyQty</td>
                    <td>
                        @if(item.StockStatus=="In Stock")
                        { 
                            <p style="color:green;font-size:20px; font-weight:bold">@item.StockStatus</p>
                        }
                        else if(item.StockStatus == "Low Stock")
                        {
                    <p style="color: darkred; font-size: 20px; font-weight: bold">@item.StockStatus</p>
                        }                        
                    </td>
                    <td class="btns">
                        <a href="@Url.Action("EditIngr", "Ingredients", new { id = item.Ing_ID})" class="btn btn-info">Edit</a>
                        <a href="@Url.Action("DeleteIngr", "Ingredients", new { id = item.Ing_ID})" class="btn btn-danger">Delete</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>



<br />
<br />