<head>
    <title>Your Cart</title>
    <style>
        .addons-container {
            border: 1px solid #ccc;
            padding: 10px;
            margin-top: 20px;
            max-width: 300px;
            display: flex;
            align-items: center;
        }

        .addons-image {
            height: 80px;
            width: 80px;
            margin-right: 10px;
        }

        .addons-label {
            margin-bottom: 5px;
        }
    </style>
</head>
<br />
<br />
<br />
<br />
<br />
<br />
<div class="container">
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-lg-6">
                <input type="hidden" name="id" value="@Model.ProID" />
                <img src="~/Uploads/@Model.Image" style="height:400px;width:100%" />
            </div>

            <div class="col-lg-6">
                <h3>@Model.P_Name</h3>
                <p>@Model.Description</p>
                <p>R <strong>@Model.Unit</strong></p>
                <p>Qty: &ensp;&ensp; <input type="number" min="1" max="100" name="qty" value="1" /></p>
                <div class="addons-container">
                   
                    <div>
                        <h4>With Extra:</h4>
                        @foreach (var extra in ViewBag.ExtraNames)
                        {
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="selectedExtras[]" value="@extra.ExName" />
                                    @extra.ExName - R @extra.ExCost
                                </label>
                            </div>

                        }


                    </div>
                </div>
                <br />
                <br />

                <input type="submit" value="Add to Cart" class="btn btn-warning" />
            </div>
        </div>
    }
</div>

<br />
<br />
<br />
<br />
<br />
<br />

