@*showing cart item with conditions*@

<head>
    <title>Checkout</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        .card {
            border: 1px solid;
        }
    </style>
</head>
<div class="container">
    @if (TempData["total"] == null)
    {
        <h1>cart is empty</h1>
        <a href="@Url.Action("Index","Home")">Go Back</a>
    }
    else
    {

        <div class="row">

            <div class="col-md-12 ftco-animate fadeInUp ftco-animated">
                <div class="cart-list">
                    <h3>Total Item : @TempData["item_count"]</h3>
                    <table class="table">
                        <thead class="thead-primary">
                            <tr class="text-center">

                                <th></th>
                                @*<th>ID</th>*@
                                <th>Item</th>
                                <th>Price</th>
                                <th>Qty</th>
                                <th>Extras</th>
                                <th>Price</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in TempData["cart"] as List<ShoppingCartMVC.Models.Cart>)
                            {


                                <tr class="text-center">
                                    <td class="product-remove"><a href="@Url.Action("remove", "Home", new { id = item.proid })"><span class="fa fa-remove fa-1x"></span></a></td>
                                    @*<td class="product-name">
            <h3>@item.proid</h3>
        </td>*@

                                    <td class="product-name">
                                        <h3>@item.proname</h3>

                                    </td>

                                    <td class="price">R @item.price</td>

                                    <td class="quantity">
                                        @item.qty
                                    </td>

                                    <td class="ex">
                                        @item.extras
                                    </td>
                                    <td class="exC">
                                        R @item.extrasCost
                                    </td>

                                    <td class="total">R @item.bill.00</td>
                                </tr><!-- END TR-->
                            }

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div class="row justify-content-end">


            <div class="col-lg-4 mt-5 cart-wrap ftco-animate fadeInUp ftco-animated">
                <div class="cart-total mb-3">
                    <h3>Cart Total</h3>


                    <hr>
                    <p class="d-flex total-price">
                        <span>Total</span>
                        <span>R @TempData["total"].00</span>
                    </p>
                </div>



            </div>
        </div>
    }


    @*show checkout button as per user rights*@

    @if (!User.Identity.IsAuthenticated)
    {
        <a href="@Url.Action("Login","Account")" class="btn btn-primary py-3 px-4"><span class="fa fa-sign-in"></span> Login</a>
        <a href="@Url.Action("Register","Account")" class="btn btn-primary py-3 px-4"><span class="fa fa-registered"></span> Register</a>
    }

    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("2"))
        {

            if (TempData["cart"] != null)
            {
                using (Html.BeginForm())
                {

                    <span>Contact :</span> <input type="text" name="contact" class="form-control col-lg-6" required maxlength="10"/>
                    <br />
                    <span>Address :</span><textarea name="address" class="form-control col-lg-6" required></textarea>
    <br />
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Delivery Method :</h5>


                                    <input type="radio" name="Method" value="Delivery" /><label>&ensp;Delivery</label>
                                    <br />
                                    <input type="radio" name="Method" value="Collection" /><label>&ensp;Collection</label>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Payment Method:</h5>

                                    <input type="radio" name="PayMethod" value="PayPal" /><label>&ensp;PayPal</label>
                                    <br />
                                    <input type="radio" name="PayMethod" value="Cash" /><label>&ensp;Cash On Delivery/Collection</label>
                                </div>
                            </div>
                        </div>
                    </div>


                    <br />
                    <input type="submit" value="Checkout" class="btn btn-primary py-3 px-4" />
                    <br />
                    
                }
            }


        }
    }


</div>
<br />

