@model IEnumerable<ShoppingCartMVC.Models.Drivers>

<br />
<br />
<table class="table">
    <tr>
        <th>Order ID</th>
        <th>Customer Name</th>
        <th>Delivery Address</th>
        <th>Order Date</th>
        <th>Delivery Process</th>
        <th>Delivery Status</th>
    </tr>

    @foreach (var order in Model)
    {
        if (order != null)
        {
            <tr>
                <td>@Html.DisplayFor(m => order.OrderId)</td>
                <td>@Html.DisplayFor(m => order.TblOrder.TblInvoice.TblUser.Name)</td>
                <td>@Html.DisplayFor(m => order.DeliveryAddress)</td>
                <td>@Html.DisplayFor(m => order.OrderDate)</td>
                <td>
                    @if (order.TblOrder.TblInvoice.Status == "Out for Delivery")
                    {
                        <a href="@Url.Action("DriverGetOrder", "Home", new { OrderId = order.OrderId })" class="btn btn-info">Start</a>
                    }
                    else if (order.TblOrder.TblInvoice.Status == "Order Delivered")
                    {
                        <a href="@Url.Action("DeliveryDetails", "Home", new { OrderId = order.OrderId })" class="btn btn-success">Completed</a>
                    }
                </td>
                <td>
                    @if (order.TblOrder.TblInvoice.Status == "Out for Delivery")
                    {
                        <span class="btn btn-warning">Delivery Pending</span>
                    }
                    else if (order.TblOrder.TblInvoice.Status == "Order Delivered")
                    {
                        <span class="btn btn-success">Delivered</span>
                    }
                </td>
            </tr>
        }

    }
</table>
<br />
<br />