@model IEnumerable<ShoppingCartMVC.Models.tblOrder>
<head>
    <title>All Orders</title>
</head>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="container">


    <table class="table">

        <tr>
            <th>
                Order ID
            </th>
            <th>
                Customer
            </th>

            <th>
                Total
            </th>
            <th>
                Pay Method
            </th>
            <th>
                Payment Status
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblInvoice.DC_Method)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>

            <th>Order Status</th>

            <th>Action</th>
            <th></th>
        </tr>
        <tbody id="myTable">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TblInvoice.TblUser.Name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.TblInvoice.Bill)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TblInvoice.Payment)
                    </td>
                    <td>
                        @if (item.TblInvoice.Payment_Status == "Paid")
                        {
                            <span class="badge badge-success">Paid</span>
                        }
                        else
                        {
                            <span class="badge badge-warning">Pending</span>
                        }

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TblInvoice.DC_Method)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TblInvoice.InvoiceDate)
                    </td>


                    <td>
                        @if (item.TblInvoice.Status == "Order Placed")
                        {

                            <a href="@Url.Action("ConfirmOrder","Home", new { OrderId = item.OrderId })" class="btn btn-dark">Order Placed</a>
                        }
                        else if (item.TblInvoice.Status == "Out for Delivery")
                        {
                            <span class="btn btn-warning">Out for Delivery</span>
                        }
                        else if (item.TblInvoice.Status == "Order Delivered")
                        {
                            <span class="btn btn-success">Delivered</span>
                        }
                        else if (item.TblInvoice.Status == "Ready for Collection")
                        {
                            <a href="@Url.Action("ConfirmOrder","Home", new { OrderId = item.OrderId })" class="btn btn-warning">Ready for Collection</a>
                        }
                        else if (item.TblInvoice.Status == "Order Collected")
                        {
                            <span class="btn btn-success">Collected</span>
                        }

                    </td>

                    <td>
                        @if ((item.TblInvoice.DC_Method == "Delivery") && (item.TblInvoice.Status == "Order Placed"))
                        {
                            <a href="@Url.Action("AssignDriver","Home", new { OrderId = item.OrderId })" class="btn btn-info">Assign Driver</a>


                        }
                        else if ((item.TblInvoice.DC_Method == "Delivery") && (item.TblInvoice.Status == "Out for Delivery"))
                        {
                            <span class="btn btn-warning">Driver Dispatched</span>
                        }
                        else if ((item.TblInvoice.DC_Method == "Collection") && (item.TblInvoice.Status == "Order Placed"))
                        {
                            <span class="btn btn-info">Collection</span>

                        }
                        else if ((item.TblInvoice.DC_Method == "Collection") && (item.TblInvoice.Status == "Ready for Collection"))
                        {
                            <span class="btn btn-warning">Collection</span>
                        }
                        else
                        {
                            <span class="btn btn-success">Complete</span>
                        }

                    </td>

                </tr>
            }
        </tbody>
    </table>

</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />