@model IEnumerable<ShoppingCartMVC.Models.tblOrder>
<head>
    <title>Order History</title>
</head>
<div class="container">

    <table class="table">
        <tr>

            <th>
               Total
            </th>
            <th>
               Payment Method
            </th>
            <th>
                Payment Status
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblInvoice.DC_Method) @*my changes for delivery*@
            </th>
            <th>
                @Html.DisplayName("Order Date")
            </th>

            <th>Order Status</th>

            <th>Invoice</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>


                <td>
                    R @Html.DisplayFor(modelItem => item.TblInvoice.Bill).00
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TblInvoice.Payment)
                </td>
                <td>
                    @if (item.TblInvoice.Payment_Status == "Paid")
                    {
                        <span class="badge badge-success">Paid</span>
                    }
                    else
                    {
                        <span class="badge badge-warning">Pending</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TblInvoice.DC_Method) @*my changes for delivery*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                @*<th>
                    @Html.DisplayFor(model => item.TblInvoice.Status)
                </th>*@

                <td>
                    @if (item.TblInvoice.Status == "Out for Delivery")
                    {
                        <span class="btn btn-warning">Out for Delivery</span>
                    }
                    else if (item.TblInvoice.Status == "Order Delivered")
                    {
                        <span class="btn btn-success">Order Delivered</span>
                    }
                    else if (item.TblInvoice.Status == "Order Collected")
                    {
                        <span class="btn btn-success">Order Collected</span>
                    }
                    else
                    {
                        <span class="btn btn-dark">Order Placed</span>
                    }

                </td>
                <td>
                    <a href="@Url.Action("Invoice", "Home", new { id = item.InvoiceId })" class="btn btn-primary">Print</a>
                </td>

            </tr>
        }

    </table>

</div>
