@model IEnumerable<ShoppingCartMVC.Models.tblProduct>
@{
    ViewBag.Title = "Waiter Menu";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

    <style>


        /* Style for the order options container */
        #orderOptions {
            display: flex;
            justify-content: space-between;
            margin-top: 10px; /* Adjust the margin as needed */
        }

        /* Style for the Dine-in button */
        .order-button.dine-in {
            background-color: lightblue;
            color: black;
            padding: 15px 33px; /* Adjust the padding for button size */
            border: none;
            cursor: pointer;
            font-size: 16px; /* Adjust font size as needed */
        }

        /* Style for the Takeaway button */
        .order-button.takeaway {
            background-color: lightblue; /* Use the same color as Dine-in */
            color: black;
            padding: 15px 33px; /* Adjust the padding for button size */
            border: none;
            cursor: pointer;
            font-size: 16px; /* Adjust font size as needed */
        }

        /* Style for the Generate button */
        .generate-button {
            background-color: #4CAF50; /* Green color for Generate button */
            color: white;
            padding: 15px 30px; /* Adjust the padding for button size */
            border: none;
            cursor: pointer;
            font-size: 16px; /* Adjust font size as needed */
        }

            /* Hover effect for buttons */
            .order-button:hover, .generate-button:hover {
                background-color: lightgreen; /* Dark blue color on hover */
            }

        .category-tabs {
            flex: 0 0 20%;
        }

        #undoButton {
            background-color: #ccc; /* Grey background color */
            color: black; /* White text color */
            padding: 15px 15px; /* Adjust padding for button size */
            border: none;
            cursor: pointer;
            font-size: 16px;
            position: absolute;
            top: 400px;
            left: 1200px; /* Adjust font size as needed */
        }

        /* Style for the Redo button */
        #redoButton {
            background-color: #ccc; /* Grey background color */
            color: black; /* White text color */
            padding: 15px 15px; /* Adjust padding for button size */
            border: none;
            cursor: pointer;
            font-size: 16px;
            position: absolute;
            top: 500px;
            left: 1200px; /* Adjust font size as needed */
        }

        #backButton {
            background-color: #ccc; /* Grey background color */
            color: black; /* White text color */
            padding: 15px 15px; /* Adjust padding for button size */
            border: none;
            cursor: pointer;
            font-size: 16px;
            position: absolute;
            top: 300px;
            left: 1200px; /* Adjust font size as needed */
        }

        .product-groups {
            flex: 0 0 60%;
        }

        .selected-products {
            flex: 0 0 20%;
        }

        body {
            display: flex;
            flex-direction: row; /* Display content in a row */
            justify-content: space-between; /* Space between sections */
            align-items: flex-start; /* Align items to the top */
            padding: 20px; /* Add some padding for spacing */
        }

        #content-container {
            display: flex;
            width: 100%;
            justify-content: space-between;
            padding-top: 150px; /* Adjust the value as needed */
            margin-left: -900px;
        }



        #categoryTabs {
            width: 25%;
        }

        #categoryContent {
            width: 70%;
        }

        .selected-products {
            width: 25%; /* Adjust width as needed */
            height: 300px; /* Set a fixed height */
            border: 1px solid #ddd;
            padding: 20px;
            background-color: #f0f0f0;
            margin-left: -600px; /* Add margin between selected products and other sections */
            overflow-y: auto; /* Add vertical scrollbar if content overflows */
        }

        .category-tabs {
            flex: 0 0 25%;
            padding: 20px;
            background-color: #fff;
            box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
        }

        .product-groups {
            flex: 0 0 70%;
            padding: 20px;
            background-color: #fff;
            box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-wrap: wrap;
        }

        /*.category-tab {
            border: 1px solid #ddd;
            padding: 60px;
            margin: 0 10px 10px 0;
            cursor: pointer;
            background-color: #f0f0f0;
            flex-grow: 1;
            text-align: center;
        }*/

        .category-tab {
            border: 1px solid #ddd;
            padding: 60px;
            margin: 0 10px 10px 0;
            cursor: pointer;
            background-color: #f0f0f0;
            flex-grow: 1;
            text-align: center;
            background-color: lightblue; /* Set the background color to light blue */
            color: black;
            font-size: 18px;
            /* Set the font color to black */
        }

        .product-group {
            display: none;
            background-color: #f0f0f0;
            margin-bottom: 20px;
        }

            .product-group.active {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                justify-content: space-between;
            }

        .product {
            border: 1px solid #ddd;
            padding: 20px;
            cursor: pointer;
            background-color: #f0f0f0;
            flex-basis: calc(25% - 10px);
            margin-bottom: 10px;
            position: relative;
        }

        .quantity-input {
            position: relative;
            bottom: 0;
            right: 0;
            padding: 5px;
            background-color: white;
            border: 1px solid #ddd;
            border-radius: 3px;
        }

        .active {
            background-color: #ffffff;
        }

        .selected-products {
            width: 30%;
            border: 1px solid #ddd;
            padding: 20px;
            background-color: #f0f0f0;
            height: 600px;
            font-size: 18px;
        }

        #content-container {
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-top: 20px; /* Add margin between menu tabs and content */
        }

        .product {
            display: flex; /* Display product and image side by side */
            align-items: center; /* Align content vertically */
            margin-bottom: 10px; /* Add space between product tabs */
        }

        .product-pic {
            max-width: 100px; /* Adjust the image size as needed */
            margin-right: 10px; /* Add space between image and product details */
        }

        #movableText {
            position: absolute; /* Position the text absolutely */
            top: 100px; /* Adjust the top position as needed */
            left: 50px; /* Adjust the left position as needed */
            font-size: 18px; /* Adjust the font size as needed */
            color: #333; /* Text color */
        }
    </style>
</head>
<body>
    <p id="movableText">Waiter Name : @Session["User"]</p>
    <button id="undoButton" class="generate-button">
        <i class="fas fa-undo"></i> Undo
    </button>

    <button id="redoButton" class="generate-button">
        <i class="fas fa-redo"></i> Redo
    </button>

    <button id="backButton" class="generate-button">
        <i class="fas fa-arrow-left"></i> Back
    </button>
    <div id="content-container">
        <div class="category-tabs" id="categoryTabs">
            @foreach (var category in ViewBag.Categories)
            {
                <div class="category-tab" data-category="@category.Name">
                    @category.Name
                </div>
            }
        </div>

        <div class="product-groups" id="categoryContent">
            @foreach (var category in ViewBag.Categories)
            {
                <div class="product-group" id="@category.Name">
                    @foreach (var product in category.TblProducts)
                    {
                        <div class="product" data-category="@category.Name">
                            <img class="product-pic" src="~/Uploads/@product.Image" alt="Product Image">
                            <div>
                                <h4 class="product-name">@product.P_Name</h4>
                                <p class="unit-price">R @product.Unit</p>
                                <input class="quantity-input selected-quantity" type="number" value="1" min="1" />
                                <span class="quantity" style="display: none;">1</span>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
        @*<button id="undoButton" class="generate-button">Undo</button>
            <button id="redoButton" class="generate-button">Redo</button>*@
    <div class="selected-products" id="selectedProducts">
        <h2>Selected Products</h2>
        <ul id="selectedList"></ul>
        <p>Total Price: <span id="totalPrice">R 0</span></p>
        <br />
        <br />
        <br />
        <br />
        <br />

        <div id="orderOptions">
            <div class="order-option">
                <button id="dineInButton" class="order-button dine-in">Dine-in</button>
            </div>
            <div class="order-option">
                <button id="takeAwayButton" class="order-button takeaway">Takeaway</button>
            </div>
        </div>
        <br />
        <br />
        <br />
        <!-- Add container for table number selection -->
        <div id="tableNumberContainer" style="display: none;">
            <label for="tableNumber">Table Number:</label>
            <select id="tableNumber">
                <option value="">None</option> <!-- Add this line for "None" option -->
                @for (int i = 1; i <= 15; i++)
                {
                    <option value="@i">@i</option>
                }
            </select>
        </div>

        <!-- Add container for payment options -->
        <div id="paymentOptionsContainer" style="display: none;">
            <label for="paymentOption">Payment Options:</label>
            <br />
            <input type="radio" name="paymentOption" value="Cash"> Cash
            <input type="radio" name="paymentOption" value="Card"> Card
        </div>
        <!-- Add container for cash amount input -->
        <div id="cashAmountContainer" style="display: none;">
            <label for="cashAmount">Cash Amount:</label>
            <input type="text" id="cashAmount" name="cashAmount" />
        </div>

        <!-- Add container for change due label -->
        <div id="changeDueLabel" style="display: none;">
            <label>Change Due:</label>
            <span id="changeDue">0.00</span>
        </div>
        <br />

        <div class="form-group">
            <label for="inputEmail">Email Address:</label>
            <input type="email" id="inputEmail" name="inputEmail" class="form-control" placeholder="Enter email" required>
        </div>

        <div class="form-group">
            <label for="inputNumber">Cell Number:</label>
            <input type="number" id="inputCell" name="inputCell" class="form-control" placeholder="Enter number" required>
        </div>

        <button id="generateButton" class="generate-button">Generate</button>
        @*<button id="generateButton">Generate</button>*@
    </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.category-tab').click(function () {
                var category = $(this).data('category');
                // console.log('Selected category:', category); // Add this line for debugging
                $('.product-group').hide();
                $('#' + category).show();
                $('.category-tab').removeClass('active');
                $(this).addClass('active');
            });

            $('.product').click(function () {
                var product = $(this).find('.product-name').text();
                var unitPrice = parseFloat($(this).find('.unit-price').text().replace('R ', ''));
                var quantity = parseInt($(this).find('.quantity-input').val());
                var selectedList = $('#selectedList');
                var existingItem = selectedList.find('li[data-product="' + product + '"]');

                if (quantity > 0) {
                    if (existingItem.length) {
                        existingItem.data('quantity', quantity);
                        existingItem.text(product + ' x' + quantity + ' - R ' + (unitPrice * quantity).toFixed(2));
                    } else {
                        var listItem = $('<li>').text(product + ' x' + quantity + ' - R ' + (unitPrice * quantity).toFixed(2))
                            .attr('data-product', product).data('quantity', quantity);
                        selectedList.append(listItem);
                    }
                } else {
                    existingItem.remove();
                }

                // Calculate and update total price
                var totalPrice = calculateTotalPrice();
                $('#totalPrice').text('R ' + totalPrice.toFixed(2));
            });

            // Function to calculate total price
            function calculateTotalPrice() {
                var totalPrice = 0;
                $('.selected-products li').each(function () {
                    var quantity = $(this).data('quantity');
                    var productPrice = parseFloat($(this).text().split(' - R ')[1]);
                    totalPrice += quantity * productPrice;
                });
                return totalPrice;
            }
            $('#dineInButton').click(function () {
                $('#tableNumberContainer').show();
                $('#paymentOptionsContainer').hide();

                // Set a class to indicate "Dine-in" is selected
                $(this).addClass('active');
                $('#takeAwayButton').removeClass('active');
            });

            $('#takeAwayButton').click(function () {
                $('#tableNumberContainer').hide();
                $('#paymentOptionsContainer').show();

                // Set a class to indicate "Takeaway" is selected
                $(this).addClass('active');
                $('#dineInButton').removeClass('active');
            });


            $('#cashPayment').click(function () {
                $('#cashAmount').show(); // Show the cash amount input field
                $('#changeDisplay').hide(); // Hide the change display initially
            });

            // Show cash amount input and hide change due label when "Cash" is selected
            $('input[name="paymentOption"]').change(function () {
                if ($(this).val() === "Cash") {
                    $('#cashAmountContainer').show();
                    $('#changeDueLabel').hide();
                } else {
                    $('#cashAmountContainer').hide();
                    $('#changeDueLabel').hide();
                }
            });

            // Calculate and display change when cash amount is entered
            $('#cashAmount').on('input', function () {
                calculateChange();
            });

            // Function to calculate and display the change
            function calculateChange() {
                var cashAmount = parseFloat($('#cashAmount').val());
                var totalAmount = calculateTotalPrice(); // Implement this function to calculate the total order amount

                if (!isNaN(cashAmount) && cashAmount >= totalAmount) {
                    var changeDue = cashAmount - totalAmount;
                    $('#changeDue').text(changeDue.toFixed(2));
                    $('#changeDueLabel').show();
                } else {
                    $('#changeDueLabel').hide();
                }
            }


            $('#generateButton').click(function () {
                // Get selected options for Dine-in/Takeaway, table number, and payment method
                var isDineIn = $('#dineInButton').hasClass('active');
                var tableNumber = $('#tableNumber').val();
                var paymentMethod = $('input[name="paymentOption"]:checked').val();
                var cell = $('#inputCell').val();
                var email = $('#inputEmail').val();

                var selectedProducts = [];

                $('.selected-products li').each(function () {
                    var product = $(this).data('product');
                    var unitPrice = parseFloat($(this).text().split(' - R ')[1]);
                    var quantity = $(this).data('quantity');
                    var totalPrice = unitPrice * quantity;

                    selectedProducts.push({ Product: product, UnitPrice: unitPrice, Quantity: quantity, TotalPrice: totalPrice });
                });

                // Create a hidden input field in the form to send the selected products data
                var form = $('<form>').attr('method', 'post').attr('action', '/Home/ConfirmInStore');

                // Add hidden fields for selected options
                form.append($('<input>').attr('type', 'hidden').attr('name', 'isDineIn').val(isDineIn));
                form.append($('<input>').attr('type', 'hidden').attr('name', 'tableNumber').val(tableNumber));
                form.append($('<input>').attr('type', 'hidden').attr('name', 'paymentMethod').val(paymentMethod));
                form.append($('<input>').attr('type', 'hidden').attr('name', 'inputCell').val(cell));
                form.append($('<input>').attr('type', 'hidden').attr('name', 'inputEmail').val(email));

                for (var i = 0; i < selectedProducts.length; i++) {
                    form.append($('<input>').attr('type', 'hidden').attr('name', 'selectedProducts[' + i + '].Product').val(selectedProducts[i].Product));
                    form.append($('<input>').attr('type', 'hidden').attr('name', 'selectedProducts[' + i + '].UnitPrice').val(selectedProducts[i].UnitPrice));
                    form.append($('<input>').attr('type', 'hidden').attr('name', 'selectedProducts[' + i + '].Quantity').val(selectedProducts[i].Quantity));
                    form.append($('<input>').attr('type', 'hidden').attr('name', 'selectedProducts[' + i + '].TotalPrice').val(selectedProducts[i].TotalPrice));
                }

                $('body').append(form);
                form.submit();
            });
        });

    </script>
</body>
</html>

