
@model List<ShoppingCartMVC.Models.Transactions>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CashDrawer</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <style>
        @@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            list-style: none;
            text-decoration: none;
            font-family: 'Roboto', sans-serif; /* Use the Roboto font for a professional look */
        }

        body {
            background-color: #f3f5f9;
        }

        .wrapper {
            display: flex;
            position: relative;
        }

            .wrapper .sidebar {
                width: 250px;
                height: 100%;
                background: #4b4276;
                padding: 30px 0px;
                position: fixed;
            }

                .wrapper .sidebar h2 {
                    color: #fff;
                    text-transform: uppercase;
                    text-align: center;
                    margin-bottom: 30px;
                    font-weight: 700; /* Use a bold font weight for headings */
                }

                .wrapper .sidebar ul li {
                    padding: 15px;
                    border-bottom: 1px solid #bdb8d7;
                    border-bottom: 1px solid rgba(0,0,0,0.05);
                    border-top: 1px solid rgba(255,255,255,0.05);
                }

                    .wrapper .sidebar ul li a {
                        color: #bdb8d7;
                        display: block;
                    }

                        .wrapper .sidebar ul li a .fas {
                            width: 25px;
                        }

                    .wrapper .sidebar ul li:hover {
                        background-color: #594f8d;
                    }

                        .wrapper .sidebar ul li:hover a {
                            color: #fff;
                        }

                .wrapper .sidebar .social_media {
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    display: flex;
                }

                    .wrapper .sidebar .social_media a {
                        display: block;
                        width: 40px;
                        background: #594f8d;
                        height: 40px;
                        line-height: 45px;
                        text-align: center;
                        margin: 0 5px;
                        color: #bdb8d7;
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                    }

            .wrapper .main_content {
                width: calc(100% - 250px);
                margin-left: 250px;
            }

                .wrapper .main_content .header {
                    padding: 20px;
                    background: #fff;
                    color: #717171;
                    border-bottom: 1px solid #e0e4e8;
                    font-weight: 700; /* Use a bold font weight for headings */
                }

                .wrapper .main_content .info {
                    margin: 20px;
                    color: #717171;
                    line-height: 25px;
                }

                    .wrapper .main_content .info div {
                        margin-bottom: 20px;
                    }

        .dashboard-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr); /* 3 columns */
            gap: 20px;
            padding: 50px;
        }

        /* Blue border */
        .dashboard-block.blue {
            border-left: 6px solid #007bff;
        }

        /* Orange border */
        .dashboard-block.orange {
            border-left: 6px solid #FFA500;
        }

        /* Green border */
        .dashboard-block.green {
            border-left: 6px solid #008000;
        }

        .dashboard-block {
            padding: 30px; /* Increased padding for wider blocks */
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #f2f2f2;
            border-radius: 9px; /* Increased border radius */
        }

        .dashboard-icon {
            font-size: 36px; /* Larger font size for icons */
            margin-right: 15px; /* Increased margin */
        }

        .dashboard-big-text {
            font-size: 30px;
            margin-top: 10px; /* Add some spacing between the texts */
        }

        .dashboard-container {
            padding: 50px;
        }

        .dashboard-table {
            width: 100%;
            border-collapse: collapse;
        }

            .dashboard-table th,
            .dashboard-table td {
                border: 1px solid #ddd;
                padding: 10px;
                text-align: left;
            }

            .dashboard-table th {
                background-color: #f2f2f2;
            }

            .dashboard-table tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            .dashboard-table td {
                line-height: 2;
                width: 70%; /* Increase the width to make the info field longer */
            }
    </style>
</head>
<body>

    @if (TempData["OrderNotFound"] != null)
    {
        <div class="alert alert-danger">
            @TempData["OrderNotFound"]
        </div>
    }

    <div class="wrapper">
        <!-- Left Sidebar Navigation -->
        <div class="sidebar">
            <h2>Dashboard</h2>
            <ul>
                <li><a href="@Url.Action("AdminCashFloat", "Home")"><i class="fas fa-list"></i> Initialize Float</a></li>
                @*<li><a href="@Url.Action("AdminChange", "Home")"><i class="fas fa-utensils"></i> Collect Change</a></li>*@
                @*<li><a href="@Url.Action("CollectedChange", "Home")"><i class="fas fa-utensils"></i> Collect Order Change</a></li>*@
                <li><a href="@Url.Action("Transactions", "Home")"><i class="fas fa-money"></i> POS Transactions</a></li>
                @*<li><a href="@Url.Action("AllocateTips", "Home")"><i class="fas fa-money"></i> Allocate Tips</a></li>*@
                <li><a href="@Url.Action("Withdrawals", "Home")"><i class="fas fa-table"></i> Withdrawals</a></li>
                <li><a href="@Url.Action("Discrepancy", "Home")"><i class="fas fa-table"></i>Discrepancy </a></li>
                <!-- Add more links as needed -->
            </ul>
        </div>

        <!-- Main Content Area -->
        <div class="main_content">
            <div class="header">CashDrawer</div>
            <div class="info">
                <div class="info">
                    <h2>Withdraw Tips</h2>
                    @using (Html.BeginForm("WithdrawTips", "Home", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-group">
                            @Html.Label("OrderID")
                            @Html.TextBox("OrderID", null, new { @class = "form-control" })
                        </div>

                        <div class="form-group">
                            @Html.Label("Withdrawal Type")
                            <select name="WithdrawalType" class="form-control">
                                <option value="Employee Tips">Employee Tips</option>
                                <option value="Refunds">Refunds</option>
                                <option value="DeliveryChange">Delivery Change</option>
                                <option value="Operating Expenses">Operating Expenses</option>
                            </select>
                        </div>

                        <div class="form-group">
                            @Html.Label("Operating Expenses")
                            @Html.TextBox("OperatingExpenses", null, new { @class = "form-control" })
                        </div>

                        <div class="form-group">
                            @Html.Label("Change Taken Out for Delivery/Other")
                            @Html.TextBox("ChangeTakenOut", null, new { @class = "form-control" })
                        </div>

                        <input type="submit" name="WithdrawAction" value="Withdraw" class="btn btn-primary" />
                    }
                </div>
                <div class="dashboard-container">
                    <table class="dashboard-table">
                        <tr>
                            <th>TransactionID</th>
                            <th>FloatID</th>
                            <th>Transaction</th>
                            <th>OnlineOrderID</th>
                            <th>InStoreOrderID</th>
                            <th>User</th>
                            <th>Current Balance</th>
                            <th>Credit</th>
                            <th>Debit</th>
                            <th>Closing Balance</th>


                            <!-- Add more columns as needed -->
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.TransactionID</td>
                                <td>@item.FloatID</td>
                                <td>@item.Transaction</td>
                                <td>@item.OnlineOrderID</td>
                                <td>@item.InStoreOrderID</td>
                                <td>@item.UserName</td>
                                <td>@item.Current</td>
                                <td>@item.Credit</td>
                                <td>@item.Debit</td>
                                <td>@item.ClosingBalance</td>

                            </tr>
                        }
                    </table>
                </div>

            </div>
        </div>
    </div>
</body>
</html>
