@model List<IGrouping<int, ShoppingCartMVC.Models.PendingOrdersVM>>
<head>
    <title>
        Supplier Pending Orders
    </title>
    <style>
        h1{
            text-align:center;
        }

        .custom-orange-button {
            background-color: orange; /* Set your desired shade of orange */
            color: white; /* Set the text color to contrast with the background */
            font-size: 20px; /* Set the font size to your preference */
            font-weight: bold; /* Make the text bold if desired */
            border: none;
           
        }

            .custom-orange-button:hover {
                background-color: darkorange;
                color: white;
            }

            
    </style>
</head>
<br />
<h1> Confirm Supplier Stock Availabilty</h1>
<br />
<br />
<div class="container">
    @foreach (var supplierGroup in Model)
    {
        <h2>@supplierGroup.First().SupplName</h2>
        <br />
        using (Html.BeginForm("ConfirmIngOrderWithSupplier", "AdminHome", FormMethod.Post))
        {
            <div class="d-flex align-items-center">
                <h3>Purchase Order Num: # @supplierGroup.First().InvoiceID</h3>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Item Name</th>
                        <th>Image</th>
                        <th>Qty Ordered</th>
                        <th>Stock Availability Confirmed</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < supplierGroup.Count(); i++)
                    {
                        var ing = supplierGroup.ElementAt(i);
                        <tr>
                            <td>@ing.Ing_Name</td>
                            <td><img src="~/Uploads/@ing.IngImage" style="width:150px; height:100px;" /></td>
                            <td>@ing.OrderedStockQty</td>
                            <td>
                                <input type="checkbox" name="supplierGroup[@i].StockAvailabilityConfirmed" value="true" />
                                @Html.Hidden("supplierGroup[" + i + "].Ing_ID", supplierGroup.ElementAt(i).Ing_ID)
                                @*@Html.HiddenFor(modelItem => supplierGroup.ElementAt(i).SupplierId)*@
                                @Html.Hidden("supplierGroup[" + i + "].SupplierId", supplierGroup.ElementAt(i).SupplierId)

                                @Html.Hidden("supplierGroup[" + i + "].InvoiceID", ing.InvoiceID)

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <input type="submit" value="Submit Stock Availability" class="btn custom-orange-button py-3 px-5">
            <hr />
        }
        <br />
        <br />
    }
</div>
