@model ShoppingCartMVC.Models.tblSupplier
<head>
    <title>
        Supplier Menu
    </title>
</head>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-3 pb-3">
            <div class="col-md-12 heading-section text-center ftco-animate fadeInUp ftco-animated">
                <span class="subheading">Supplied Ingredients</span>
                <h2 class="mb-4">@Model.SupplName </h2>
               
            </div>
        </div>
    </div>
    <script src="~/js/jquery.min.js"></script>

    <script>
        $(document).ready(function () {

            $("#searchBox").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#result .col-md-6").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
    <div class="container">
        <div class="form-group">
            <input type="text" class="form-control col-lg-4 ml-auto" placeholder="Search Here" id="searchBox" />
        </div>

        <div class="row" id="result">


            <br />
            @foreach (var item in ViewBag.ingrList)
            {


                <div class="col-md-6 col-lg-3 ftco-animate fadeInUp ftco-animated">
                    <div class="product">
                        <a href="@Url.Action("AdminAddtoCart", "AdminHome", new { id = @item.ID })" class="img-prod">
                            <img class="img-fluid" src="~/Uploads/@item.Ing_Image" style="height:250px" alt="Ingredient-Image">

                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">

                            <h3><a href="#">@item.IngName</a></h3>

                            <p class="price"><span class="price-sale">Supplier Unit Cost : R @item.Ing_UnitCost .00</span></p>

                            <p><b>Qty Currently: @item.Ing_StockyQty</b></p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</section>