@model List<ShoppingCartMVC.Models.StockOrdersWithIngrVM>
<head>
    <title>Supplier Returned Orders</title>
    <style>
        h1 {
            text-align: center;
        }

        .btn-info {
            font-size: 20px;
            font-weight: bold;
        }

        .btn-primary {
            font-size: 20px;
            font-weight: bold;
        }
    </style>
</head>
<br />
<h1> Supplier Returned Orders</h1>
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th>Invoice No #</th>
            <th>Ingredients</th>
            <th>Supplier Name</th>
            <th>Order Date</th>
            <th>Return Reason</th>
            <th>Invoice</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.InvoiceId</td>
                <td>
                    <ul>
                        @foreach (var ingredient in item.Ingredients)
                        {
                            <li>@ingredient</li>
                        }
                    </ul>
                </td>
                <td>@item.SupplierName</td>
                <td>@item.OrderDate</td>
                <td>@item.ReturnReason</td>
                <td>
                    <a href="@Url.Action("AdminInvoice", "AdminHome", new { InvID = item.InvoiceId })" class="btn btn-primary">View</a>
                </td>
                <td>
                    <form action="@Url.Action("ReturnedOrdersList", "AdminHome", new { id = item.InvoiceId })" method="post">
                        <input type="submit" value="Re-Order" class="btn btn-info" />
                    </form>

                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<br />